nav {
    position: fixed;
    z-index: 1;
    top: 20px;
    left: -$menu-width;
    width: $menu-width;
    background-color: $nav-color;
    overflow-x: hidden;
    padding: 0;
    transition: ease 0.5s;
    transition-timing-function: ease;
    border-radius: 0 0 10px 0;
    font-family: 'Roboto', sans-serif;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0.3em;
        font-style: italic;
        li {
            padding: 0.2em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                text-decoration: none;
                color: black;
                display: block;
                transition: 0.2s;
            }

            a:hover{
                color: $arrow-color;
            }

            .slider {
                -webkit-appearance: none;
                appearance: none;
                outline: none;
                padding: 0;
                margin: 0;
                height: 4px;
                border-radius: 2px;
                opacity: 0.5;
                background: $slider-color;
                // margin-bottom: 2px;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none; /* Override default look */
                appearance: none;
                width: 8px; /* Set a specific slider handle width */
                height: 8px; /* Slider handle height */
                background: $slider-thumb-color;
                cursor: pointer; /* Cursor on hover */
                border-radius: 4px;
            }

            .slider::-moz-range-thumb {
                width: 8px; /* Set a specific slider handle width */
                height: 8px; /* Slider handle height */
                background: $slider-thumb-color;
                border-radius: 4px;
                border: none;
                cursor: pointer; 
            }
        }
    }
}


#menuToggle {
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    top: 20px;
    left: 0px;
    width: 30px;
    height: 30px;
    background-color: $nav-color;
    border-radius: 0 10px 10px 0;
    transition: ease 0.5s;
    transition-timing-function: ease;
    font-family: initial;

    #arrow{
        color: $arrow-color;
        transition: transform 1.0s, color 0.2s;
    }
}

#menuToggle:hover{
    color: $arrow-color;
}


.title {
    font-style: normal;
}

.show {
    left: 0;
}

.slide {
    margin-left: $menu-width;
}

.rotate {
    transform: rotate(180deg);
}
